<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{{title}}</title>
</head>
<body>
        <header>
                <nav class="nav">
                    <h1 class="titel">Be Aware            </h1>
                    <ul>
                        <li><a href="Demo">Demo</a></li>
                        <li><a href="LinksTipps">Tips&Links</a></li>
                    </ul>
                </nav>
            </header>
    <div class="hero">
        <div class="smallhero">
            <br>
            <br>
            <br>
            <h1 class="hero-text" style="color: blue;">I know who you are!</h1>
            <h3 class="hero-text" style="color: blue;">In my matura paper, I collected WiFi data legally, and I was shocked by what I found out about every one of you! Find out what I know about you with the <a href="Demo">demo</a>.</h3>
            <br>
            <h2 class="hero-title">Manipulation</h2>
            <p class = "hero-text">Why the f*ck did you click on this? This is obviously a designed poster to manipulate you into scanning it. Luckily for you, I don't want you to buy anything or harm you in any way. Consider it as a warning. </p>
            <p class = "hero-text">This website is to promote my matura project. There I want to show you how these little daily manipulations can be dangerous in many ways. Not only do we spend more money through them, we also partially lose our free will. </p>
            <p class="hero-text">I created my own big data project, in which I tried to get as much information about the students from the KSZ, with the little data I could collect. This should show how simple the basic ideas behind big data and data mining are. On this website, you find a <a href="/Demo"> demo</a>, which you can try, with my results.</p>
            <p class="hero-text">If you are interested in my project, why don't you sign up for the <a href="/newsletter" target="popup-beispiel" onClick="javascript:open('', 'popup-beispiel', 'height=400,width=400,resizable=no')">newsletter</a>?</p>
            <p class="hero-text">If you were wondering how you can protect yourself from more dangerous manipulation are data lost, check out <a href="LinksTipps">tips & links</a>. </p>
        </div>

    </div>

</body>
<footer>    
    <div class="pressing">
        <p style="font-size: 10px;">This website and my project are meant to inform the public, especially my school, about the danger of metadata. All information I gather will not be sold to advertisers or other companies or people. There are also no adds on the page.</p>    </div>
</footer>
</html>