<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{{title}}</title>
</head>
<body>
        <header>
                <nav class="nav">
                    <h1 class="titel">Be Aware            </h1>
                    <ul>
                        <li><a href="Demo">Demo</a></li>
                        <li><a href="LinksTipps">Tips&Links</a></li>
                    </ul>
                </nav>
            </header>
    <div class="hero">
        
        <div class="smallhero">
                <br>
                <br>
                <br>
            <h3 class="hero-text">Find out what I know about you: <a href="Demo">Demo</a></h3>
            <br>
                <h2 class="hero-title">Hacking your Data</h2>
            <p class="hero-text">I know who you are! From the poster, it looks like I had to hack your phone or laptop to gather information about you. That is simply not true. You give this data away without knowing it, and everyone who wants can access it. In my matura project, I exactly did that. I collected the data every WIFI user produces and tried to gain as much information as possible out of it. Big companies use this and more data to make huge profits, and most people don't even understand that it happens or how it works. Because I think it is horrible how big data is used, I want to spread the word and raise awareness. This website with the posters should be a step towards this goal. If you are interested in the project or want to gain information on how big data works and why it can be dangerous, why don't you sign up for the <a href="/newsletter" target="popup-beispiel" onClick="javascript:open('', 'popup-beispiel', 'height=400,width=400,resizable=no')">newsletter</a>?</p>
            <p class="hero-text">On this website, you will find a <a href="Demo">demo</a>, where you can find out what kind of information I gather about you. Besides that, there are also a few <a href="LinksTipps">tips & links</a> on how to get more control over your data.</p>

        </div>
    </div>

</body>
<footer>    
    <div class="pressing">
        <p style="font-size: 10px;">This website and my project are meant to inform the public, especially my school, about the danger of metadata. All information I gather will not be sold to advertisers or other companies or people. There are also no adds on the page.</p>    </div>
</footer>
</html>