<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{{title}}</title>
</head>
<body>
        <header>
                <nav class="nav">
                    <h1 class="titel">Be Aware            </h1>
                    <ul>
                        <li><a href="Demo">Demo</a></li>
                        <li><a href="LinksTipps">Tips&Links</a></li>
                    </ul>
                </nav>
            </header>
    <div class="hero">
        <div class="smallhero">
            <br>
            <br>
            <br>
            <h2 class="hero-title">Tips and Links</h2>
            <p class="hero-text">Knowing the danger of big data is one of the most essential defensive against it. But there are a lot of options on how you can improve your privacy on the web further. Most of them just need a few clicks to install, and afterward, you barely notice them. But they protect you. Sometimes it is required to read the AGBs but who has time or motivation to do that anyway, right?</p>
            <p class="hero-text">There are different options for how you can find out if the AGBs are acceptable or not. I use <a href="https://tosdr.org/" >TOSDR</a>. This has done for me a good job, but of course, not every website is in there. After installing the plugin, I just have to look in the browsers bar to see the rating, and I have an idea of how good this website is in terms of privacy.</p>
            <p class= "hero-text">Google is often called one of the big companies collecting our data about tied with Amazon and Facebook. There is a simple alternative to Google. Its called  <a href="duckduckgo.com">DuckDuckGo</a>, I start to use it, and I got less ads (especially no hidden ads), found more precisely what I was looking for, and I was more private than ever. My school recommends either <a href="duckduckgo.com">DuckDuckGo</a> or <a href="startpage.com">Startpage</a> , which is google without tracking and profiling.</p>
            <br>
            <h3 class="hero-text">Now some links for further reading</h3>
            <p class="hero-text"><a href="https://en.wikipedia.org/wiki/Targeted_advertising">Wikipedia Targeted Advertising</a></p>
            <p class="hero-text"><a href="https://www.huffpost.com/entry/tobacco-companies-disguise-profiling-as-target-marketing_b_591604a8e4b0bd90f8e6a4e4">Huffpost on an example of how targeted marketing is used </a></p>
            <p class="hero-text"><a href="https://www.nytimes.com/roomfordebate/2014/08/06/is-big-data-spreading-inequality/the-dangers-of-high-tech-profiling-using-big-data">New York Times on the danger of profiling</a></p>
            <p class="hero-text">Some small but important plugins</p>
            <p class="hero-text"><a href="https://www.eff.org/privacybadger">Privacy Badger against tracking</a></p>
            <p class="hero-text"><a href="https://duckduckgo.com/app">The DuckDuckGo app and extention</a></p>


            <br>
            <p class="hero-text">For more information about the project and the presentation sign up to the <a href="/newsletter" target="popup-beispiel" onClick="javascript:open('', 'popup-beispiel', 'height=400,width=400,resizable=no')">Newsletter</a>.</p>

        </div>
    </div>

</body>
<footer>    
    <div class="pressing">
        <p style="font-size: 10px;">This website and my project are meant to inform the public, especially my school, about the danger of metadata. All information I gather will not be sold to advertisers or other companies or people. There are also no adds on the page.</p>    </div>
</footer>
</html>