<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{{title}}</title>
</head>
<body>
        <header>
                <nav class="nav">
                    <h1 class="titel">Be Aware            </h1>
                    <ul>
                        <li><a href="Demo">Demo</a></li>
                        <li><a href="LinksTipps">Tips&Links</a></li>
                    </ul>
                </nav>
            </header>
    <div class="hero">
        <div class="smallhero">
            <br>
            <br>
            <br>
            {% if data.found%}
            <h2 class="hero-title">Information about you</h2>
            <h3 class="hero-title">Only with arrival and leaving time</h3>
            <p class="hero-text">Your class: {{data.class1}}</p>
            <p class="hero-text">You live near to {{data.location}} (unprecise)</p>
            <p class="hero-text">You eat {{data.city}} in the city</p>
            {% if data.eduroam%}
            <h3 class ="hero-title">With all the data (eduroam)</h3>
            <p class="hero-text">I found your name, because of legal reasons I am not allowed to publish it. To prove that I have it following informations:</p>
            <p class="hero-text">Your initials are: {{data.initialen}}</p>
            <p class="hero-text">You have {{data.namelength}} letters in your first and last name.</p>
            {% if data.teacher%}
            <p class="hero-text">You are teaching "{{data.fach}}"</p>
            <p class="hero-text">You studied "{{data.ausbildung}}"</p>
            
            {%else%}
            <p class="hero-text">Your class in 2017/18 was {{data.class2}}</p>
            <p class="hero-text">You are living near {{data.Habitat}}</p>
            <p class="hero-text">And your first year at the KSZ was in {{data.firstyear}}</p>
            {%endif%}
            {%else%}
            <h3 class="hero-title">More advanced options were not found!</h3>
            {%endif%}
            {%else%}
            <br>
            <br>
            <h2 class="hero-title">Error, something went wrong!!!</h2>
            <p class="hero-text">This mac-address was not found!</p>
            <p class="hero-text">This can be because of a typo.</p>
            <p class="hero-text">or I don't have any data points from you.</p>
            <p class="hero-text">If you turned off the WIFI or never walked my the main entrance, likely, I didn't catch you.</p>
            <p class="hero-text">I'm still collecting datapoints. So I may have more information later.</p>
            {%endif%}
           <br>
            <p class="hero-text">For more information about the project and the presentation sign up to the <a href="/newsletter" target="popup-beispiel" onClick="javascript:open('', 'popup-beispiel', 'height=400,width=400,resizable=no')">Newsletter</a>.</p>

        </div>
    </div>

</body>
<footer>    
    <div class="pressing">
        <p style="font-size: 10px;">This website and my project are meant to inform the public, especially my school, about the danger of metadata. All information I gather will not be sold to advertisers or other companies or people. There are also no adds on the page.</p>    </div>
</footer>
</html>